@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
   --fonte-padrao: "open sans", Arial, Helvetica, sans-serif;

   --color-yellow: #FFB30F;
   --color-red: #FD151B;
   --color-blue: #1E3572;
}

::before,
::after {
  box-sizing: border-box;
}

/* ======================= START HEADER AND STARTING SCREEN ======================= */
.nav-option {
  text-decoration: none;
  color: #0d0d0d;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  font-family: var(--fonte-padrao);
}

header .nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 6rem;
  padding: 8px 7rem;
  font-family: var(--fonte-padrao);
  background-color: var(--color-yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  justify-content: space-between;
}

header .options {
  display: flex;
}

header .options .nav-bar {
  display: flex;
  align-items: center;
}

header .logo-header {
  padding-top: 0.9rem;
}

header .logo-header img {
  width: 160px;
}

header .nav-bar .nav-option {
  padding: 1rem;
  text-decoration: none;
  color: var(--color-red);
  transition: 0.3s;
  font-weight: 500;
}

header .box-left {
  width: 50%;
}

header .box-right {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 6rem;
  width: 50%;
  height: 100%;
  background-color: #e7c98e;
  align-items: center;
  text-align: center;
}

header .box-right .home-inscricoes-text {
  color: var(--color-blue);
}

header .box-right .contador {
  background-color: var(--color-yellow);
  color: var(--color-red);
  display: flex;
  justify-content: center;
  padding: 0.8rem 2.4rem 0.6rem 2.4rem;
  border-radius: 10px;
  
}

header .box-right .contador h1 {
  font-size: 80px;
  font-weight: 700;
}

header .box-right .contador .contador-values {
  display: flex;
  height: min-content;
}

header .box-right .home-righ-center {
  margin: auto;
}

header .box-right .home-logo-best {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
}

header .box-right img {
  width: 140px;
}

/* ======================= START CATEGORIAS ======================= */
.categorias-horario {
  background-image: url("../img/fotos/Group\ 35.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.categorias {
  height: 50rem;
  display: flex;
}

.categorias .categorias-container {
  width: 50rem;
  height: 40rem;
  margin: auto;
}

.categorias .categorias-container .categorias-title {
  text-align: center;
  color: var(--color-blue);
  padding-bottom: 2rem;
}

.categorias .categorias-container .categorias-title h1 {
  font-size: 3.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-family: var(--fonte-padrao);
}

.categorias .categorias-container .categorias-title .line-title {
  height: 0.4rem;
  width: 6rem;
  margin: auto;
  display: none;
}

.categorias .categorias-container .cat-bloco {
  display: flex;
}

.categorias .categorias-container .cat-bloco .cat-background {
  margin-top: 2rem;
  height: 6rem;
  width: 50rem;
  position: absolute;
  z-index: 1;
}

.categorias .categorias-container .cat-bloco .cat-card {
  z-index: 1;
  background-color: white;
  margin: 0 1rem;
  width: 23rem;
  text-align: center;
  padding: 2.5rem 2.2rem 3rem 2.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.categorias .categorias-container .cat-bloco .cat-card h2 {
  color: var(--color-blue);
  font-family: var(--fonte-padrao);
}

.categorias .categorias-container .cat-bloco .cat-card p {
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

.categorias .categorias-container .cat-bloco .cat-card .image-card-default {
  height: 150px;
  width: 290px;
  background-color: gray;
}

/* ======================= START HORARIOS ======================= */
.schedule {
  height: 55rem;
  text-align: center;
}

.schedule h1 {
  color: var(--color-blue);
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: var(--fonte-padrao);
}

.schedule .image-schedule-default {
  height: 700px;
  width: 600px;
  background-color: gray;
  margin: auto;
}


/* ======================= START ORGANIZATION ======================= */
.best {
  height: 24rem;
}

.best .best-title {
  text-align: center;
  margin: 4rem 0 3rem 0;
}

.best .best-title h1 {
  color: var(--color-blue);
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: var(--fonte-padrao);
}

.best .best-container {
  display: flex;
  width: 70rem;
  margin: auto;
}

.best .best-container .best-imagebox {
  width: 35rem;
  position: relative;
}

.best .best-container .best-imagebox .best-imagebox-center {
  justify-content: end;
  width: 380px;
  height: 200px;
  background-color: gray;
  position: absolute;
  right: 0;
  margin-right: 5rem;
  border: solid 5px var(--color-yellow);
  border-radius: 10px;
}

.best .best-container .best-imagebox .best-imagebox-center a {
  text-align: center;
  text-decoration: none;
}

.best .best-container .best-imagebox .best-imagebox-center .box {
  background-color: #FFB30F;
  position: absolute;
  text-align: center;
  margin: auto;
  bottom: 0;
  width: 7.5rem;
  border-radius: 10px 10px 0 0;
  padding-top: 0.1rem;
  left: 34%;
}

.best .best-container .best-imagebox .best-imagebox-center .box p {
  margin: 0;
}

.best .best-container .best-text1 {
  width: 35rem;
}